
.restaurantCard {
  background-color: white;
  border-radius: 15px;
  overflow: hidden; /* Important pour que l'image ne dépasse pas des arrondis */
}

.restaurantCard h3 {
  padding: 16px 0 5px 19px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.restaurantCard p {
  padding: 0 0 16px 19px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0%;
}

.imgContent{
    height: 180px;
}

/* Le petit badge vert "Nouveau" */
.badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  color: #008766;
  padding: 8px 12px;
  border-radius: 2px;
  font-size: 0.8rem;
  font-weight: bold;
}